input[type=text].form-login, input[type=password].form-login,
input[type=text].form-register, input[type=password].form-register,
input[type=email].form-register {
    background-color: #47B5FF;
    color: #FFFFFF;
}

.card-login .form-label, .card-register .form-label {
    font-size: 20px;
}

.form-text {
    font-size: 20px;
}

.form-link {
    color: #1E6CE0;
    text-decoration: none;
}